.inv-input{
    display: none;
}
.name-title{
    display: none;
}
.custom-col{
    display: none;
}
.pro-btn{
    width: 100px;
    height: 50px;
}
.choice-btns{
    width: 120px;
    height: 70px;
    display: none;
    margin: 15px;
    padding: 5px;
}
.custom-hero{
    display: none;
}
.custom-enemy{
    display: none;
}
#continue-btn, #healthpo-btn, #manapo-btn{
    width: 120px;
    height: 70px;
    display: none;  
}